<h1 class="header">Angular Notes</h1>
<div>
  <div>
  
    <span class="icons">
    <i class="fa fa-plus-circle fa-2x" (click)="addNote()"></i>
      </span>
    <div class="note" *ngFor="let note of notes; let i = index">
      <span class="date">{{note.createdOn | date:"EEEE dd MMMM, yyyy 'at' h:mma"}}</span>
      <span class="icons">
      <i class="fa fa-check fa-lg" *ngIf="note.edit == false"></i>
      <i class="fa fa-pencil fa-lg" *ngIf="note.edit == true"></i>
      <i class="fa fa-trash-o fa-lg" (click)="delete(notes.length - $index - 1)"></i></span>
      
          <textarea [ngClass]="note.edit ? 'editable-note' : 'non-editable-note' " style="width:100%; height:200px" rows="4" cols="50" [(ngModel)]="note.text" (focus)="note.edit = true" (blur)="note.edit = false; update();">
              {{ note.text }}
              </textarea>
        
      </div>
    </div>
  </div>